<div class="nav nav-pills" id="menu-dropdown">
	<div class="btn-group" uib-dropdown>
		<button id="opcion1" type="button" class="btn" uib-dropdown-toggle >
				<!--uib-dropdown-toggle si se pone alboton permite e click>-->
			Opcion 1 <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
			<li role="menuitem"><a ui-sref="comele.admin">Administración</a></li>
			<li role="menuitem"><a href="#">Another action</a></li>
			<li role="menuitem"><a href="#">Something else here</a></li>
			<li class="divider"></li>
			<li role="menuitem"><a href="#">Separated link</a></li>
		</ul>
	</div>
	<div class="btn-group" uib-dropdown>
		<button id="opcion2" type="button" class="btn">
			Opcion 2 <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
			<li role="menuitem"><a href="#">Action</a></li>
			<li role="menuitem"><a href="#">Another action</a></li>
			<li role="menuitem"><a href="#">Something else here</a></li>
			<li class="divider"></li>
			<li role="menuitem"><a href="#">Separated link</a></li>
		</ul>
	</div>
	<div class="btn-group" uib-dropdown>
		<button id="opcion3" type="button" class="btn">
			Opcion 3 <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
			<li role="menuitem"><a href="#">Action</a></li>
			<li role="menuitem"><a href="#">Another action</a></li>
			<li role="menuitem"><a href="#">Something else here</a></li>
			<li class="divider"></li>
			<li role="menuitem"><a href="#">Separated link</a></li>
		</ul>
	</div>
	<div class="btn-group" uib-dropdown>
		<button id="opcion4" type="button" class="btn">
			Opcion 4 <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
			<li role="menuitem"><a href="#">Action</a></li>
			<li role="menuitem"><a href="#">Another action</a></li>
			<li role="menuitem"><a href="#">Something else here</a></li>
			<li class="divider"></li>
			<li role="menuitem"><a href="#">Separated link</a></li>
		</ul>
	</div>
</div>


<div id="menu-content" class="center-block">
	<div class="row">
		<div class="col-md-2">
			<div class="center-block" style="width: 60px">
				<a ui-sref="comele.admin">
					<img style="width: 60px" src="assets/images/user.png"/>
					<h6 class="text-center">Administración</h6>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="center-block" style="width: 60px">
				<a>
					<img style="width: 60px" src="assets/images/user.png"/>
					<h6 class="text-center">Opcion 2</h6>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="center-block" style="width: 60px">
				<a>
					<img style="width: 60px" src="assets/images/user.png"/>
					<h6 class="text-center">Opcion 3</h6>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="center-block" style="width: 60px">
				<a>
					<img style="width: 60px" src="assets/images/user.png"/>
					<h6 class="text-center">Opcion 4</h6>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="center-block" style="width: 60px">
				<a>
					<img style="width: 60px" src="assets/images/user.png"/>
					<h6 class="text-center">Opcion 5</h6>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="center-block" style="width: 60px">
				<a>
					<img style="width: 60px" src="assets/images/user.png"/>
					<h6 class="text-center">Opcion 6</h6>
				</a>
			</div>
		</div>
	</div>

</div>
